
 body
{ 
font-family: 'Raleway', sans-serif;
}
.timeline li:after, .tl-nav:after {
  content: "";
  display: table;
  clear: both;
}


*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}


/*** The timeline styles and structure ***/
.tl-wrapper {
  background: #f2f2f2;
  min-height: 1px;
  position: relative;
height: 70%;
}
.timeline .title  , .timeline .card-title {

color:#fff;
font-weight: 700;
text-shadow: 2px 2px 2px #000;
}
.timeline p ,.timeline h6{
font-weight: 500;
}
.timeline {

  position: relative;
  width: 100%;
  min-height: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
height: 30%;
}
.timeline li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
 height: 70%;

}

/*** The items ***/
.tl-item {
  visibility: hidden;
  overflow: hidden;
  z-index: 0;
height: 30%;
}
.tl-item .tl-copy {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate3d(60%, 0, 0);
          transform: translate3d(60%, 0, 0);
}
.tl-item .tl-image {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.tl-item.tl-active {
  visibility: visible;
  z-index: 10;
}
.tl-item.tl-active .tl-copy {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.tl-item.tl-active .tl-image {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.tl-image {
  float: left;
  width: 40%;
}
.tl-image img {
  display: block;
}

.tl-copy {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  padding: 1rem;
  background: #f2af5c;
  color: #fff;
}
.tl-copy:after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 20px 21px 0;
  border-color: transparent #D97E4A transparent transparent;
}

/*** The arrows for the items ***/
.tl-items-arrow-left,
.tl-items-arrow-right {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 40px;
  top: 50%;
  margin-top: -40px;
  z-index: 100;


}
.tl-items-arrow-left:before, .tl-items-arrow-left:after,
.tl-items-arrow-right:before,
.tl-items-arrow-right:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 35px;
  height: 5px;
  background: #D97E4A;
box-shadow: 1px 1px 2px #000;
}

.tl-items-arrow-left {
  left: 0;
}
.tl-items-arrow-left:before {
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tl-items-arrow-left:after {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tl-items-arrow-right {
  right: 0;
}
.tl-items-arrow-right:before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tl-items-arrow-right:after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*** The nav's styles ***/
.tl-nav-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0;
  padding: 16px 0 0 0;
  border-top: 2px solid #f2af5c;
  overflow-x: hidden;
  width: 100%;
}
.tl-nav-wrapper:before, .tl-nav-wrapper:after {
  content: "";
  width: 38px;
  height: 86px;
  position: absolute;
  top: 10px;
  background: #f2f2f2;
  z-index: 50;
}
.tl-nav-wrapper:before {
  left: 0;
}
.tl-nav-wrapper:after {
  right: 0;
}

.no-csstransforms .tl-nav-wrapper {
  overflow-x: auto;
}

.tl-nav {
  list-style: none;
  margin: 0;
  padding-top: 16px;
  border-top: 1px dashed #f2af5c;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tl-nav li {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 12px;
font-weight: bold;
  text-align: center;
text-shadow: 2px 2px 2px #000;
}
.tl-nav li div {
  width: 60px;
  height: 60px;
  margin: auto;
  background: #f2af5c;
  color: #fff;
  padding-top: 20px;
  border-radius: 1000px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.tl-nav li:hover div, .tl-nav li.tl-active div {
  width: 75px;
  height: 75px;
  background: transparent;
  color: #f2af5c;
  border: 1px solid #f2af5c;
  font-size: 18px;
   font-weight: bold;
  text-align: center;
text-shadow: 2px 2px 2px #000;
}
.tl-nav li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -2px;
  background: #f2af5c;
  border-radius: 1000px;
}

/*** The nav's nav styles ***/
.tl-nav-arrow-left,
.tl-nav-arrow-right {
  position: absolute;
  width: 14px;
  height: 20px;
  top: 50%;
  z-index: 100;
}
.tl-nav-arrow-left:before, .tl-nav-arrow-left:after,
.tl-nav-arrow-right:before,
.tl-nav-arrow-right:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 4px;
  background:  #D97E4A;

font-weight: 700;
}

.tl-nav-arrow-left {
  left: 9px;
}
.tl-nav-arrow-left:before {
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tl-nav-arrow-left:after {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tl-nav-arrow-right {
  right: 9px;
}
.tl-nav-arrow-right:before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tl-nav-arrow-right:after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.no-csstransforms .tl-nav-arrow-left,
.no-csstransforms .tl-nav-arrow-right {
  display: none;
}

.navbar {
    transition: all 0.4s;
}


.navbar .navbar-brand {
    color: #fff ;
font-weight: 900;
text-align: left;
}
.navbar-brand img
{
    width: 50px;
    height:auto;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}



.navbar.active .navbar-brand {
color: #f2af5c;
font-weight: 900;
}

.navbar-brand img
{
    width: 60px;
    height:auto;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background:transparent;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #fff;
    }
	
}
.btn-light {
    background-color:#F2AF5C;
    border-color:#F2AF5C;
box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);

}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
    background-color: #D97E4A;
	border-color: #D97E4A;
}